@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000b24;
  color: white;
  font-family: 'DM Mono', monospace;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(17, 100%, 48%, 0.938),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #eb9800, #db000b 1px, #080080 0, #000000);
}

.card {
  display: flex;
  position: relative;

  height: 500px;
  width: 500px;
  min-width: 250px;
  padding: 1.5rem;
}

.card {
  /* ... */

  border-radius: 16px;
  background: #19004bc2;
  box-shadow: -1rem 0 3rem #000;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-1rem);
  background: #19004b;
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card img {
  width: 100%;
  heing: 100%;
  position: relative;
  top: 0;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

p {
  margin-bottom: auto;
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

h2 {
  font-size: 20px;
  margin: 0.25rem auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nasa-search-form {
  margin: 0 auto;
  padding-top: 3rem;

  max-width: 800px;
}

.details {
  width: 80%;
  max-width: 800px;
  padding: 5rem;
  text-align: justify;
}

.details h2 {
  font-size: 3rem;
  text-align: center;
  color: #ff8a00;
  color: linear-gradient(#ff8a00, #e52e71);
}
.details p {
  font-size: 2rem;
}
.detaild h3 {
  font-size: 2.4rem;
  color: #ff8a00;
}
.details img {
  width: 100%;
  max-width: 800px;
}
